#version=RHEL7
# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
cdrom
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eno16777736 --onboot=on --ipv6=auto
network  --hostname=localhost.localdomain
# Root password
rootpw --iscrypted $6$g513YdTsDu0BDMdb$iIrK8FoV8xD9lsozVkscUA6nAOi3V9OfNUsiofmZ6pxuQnvZLJTyENVXA3krA6.Zyhp/QXUDwsam1BbSFenUZ1
# System timezone
timezone America/New_York --isUtc
user --groups=wheel --name=sysadmin --password=$6$dc2TJ2T88ECBNyrv$QgfBQtg.J7u53cPwhdUHOqS7ARlOHhTpcYousUBM0wP7xdJWgHcM40PXKggzB/pWiCqI5cHtGGaOEuEqjHhV.. --iscrypted --gecos="sysadmin"
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel 

%packages
@core

%end

